<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--
    there will be configuration of session factory
    -->
      <mapping class="com.ldz.polesie.entities.Role"/>
      <mapping class="com.ldz.polesie.entities.User"/>
      <mapping class="com.ldz.polesie.entities.Player"/>
      
  </session-factory>
</hibernate-configuration>
